.div1{
    width: 6vw;
    height: 6vw;
    border-radius: 5px;
    background-color: rgb(80, 13, 13);
    position: absolute;
  }
  
  img{
    width: 100%;
  }
  
  .div_img1, .div_img2, .div_img3 {
    width: 20vw;
    height: 20vw;
    position: absolute;
  }
